<td class='status'>
	{{statusString}}
</td>
<td class='name'>
	{{name}}
</td>
<td class='size'>
    {{sizeConverted}}
</td>
<td class='done'>
    {{percentDoneConverted}}
</td>
<td class='downloaded'>
    {{downloadedConverted}}
</td>
<td class='uploaded'>
    {{uploadedConverted}}
</td>
<td class='ratio'>
    {{ratioConverted}}
</td>
<td class='addedDate'>
    {{addedDateConverted}}
</td>
<td class='rateDownload'>
    {{rateDownloadConverted}}
</td>
<td class='rateUpload'>
    {{rateUploadConverted}}
</td>
<td class='eta'>
    {{etaConverted}}
</td>
