{{! <td class='status'>
	{{statusString}}
{{! </td>
<td class='name'>
	{{name}}
{{! </td>
<td class='rateDownload'>
    {{rateDownload}}
{{! </td>
<td class='rateUpload'>
    {{rateUpload}}
{{! </td> }}

{{#each controller.controllers.torrentColumns.columns}}
    <td>
        {{torrentField dataField ..}}
    </td>
{{/each}}
